#assistive-ai-demo {
  .loader-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    & span {
      margin-right: 4px !important;
    }

    .pulse-dot {
      width: 6px !important;
      height: 6px !important;
      border-radius: 50% !important;
      background-color: #6675fc !important;
      margin: 2px !important;
    }

    .pulse-dot1 {
      animation: pulse-dot1 1s linear infinite !important;
    }

    .pulse-dot2 {
      animation: pulse-dot2 1s linear infinite !important;
    }
  }

  @keyframes pulse-dot1 {
    from {transform: scale(1);   opacity: 0.5;}
    50%  {transform: scale(1.3); opacity: 1;  }
    to   {transform: scale(1);   opacity: 0.5;}
  }

  @keyframes pulse-dot2 {
    from {transform: scale(1.3);}
    50%  {transform: scale(1); opacity: 0.5;}
    to   {transform: scale(1.3);}
  }
}
